consul {
    address = "${CONSUL_HOST}"
    token   = "${CONSUL_TOKEN}"
    retry {
    	enabled = true
    	attempts = 3
    	backoff = "250ms"
  }
}

log_level = "info"

wait {
  min = "2s"
  max = "10s"
}

template {
    source = "/app/conf/application.properties.ctmpl"
    destination = "/app/conf/application.properties"
    wait {
      min = "2s"
      max = "10s"
    }
    command = "supervisorctl restart app"
    command_timeout = "30s"
    perms = 0600
    backup = true
}
